beartype==0.22.9
equinox==0.13.7
jax==0.10.0  # jax[cuda13] or jax[cuda12] if a GPU is available
matplotlib==3.10.8
optax==0.2.8
pillow==12.1.1
setuptools==81.0.0
tensorboard==2.20.0
tensorboardx==2.6.5
tqdm==4.67.3
